<div class="display-flex">
    <div class="search-flex">
        <app-search></app-search>
    </div>
    <div class="container">
        <p>Data from API</p>
        <select name="price" id="font">
            <option value=""></option>
            <option value="">Closing Price</option>
            <option value="">Adj.Closing Price</option>
        </select>
          
        <div *ngFor="let dta of datas">
            <div>Start date {{ dta.start_date }}</div>
            <div>End date {{ dta.end_date }}</div>
            <div>Closing Price {{ dta.data[1][4] }}</div>
            <div>Adj.Closing Price {{ dta.data[1][11] }}</div>
        </div>
    </div>

</div>
 <button onclick="mine()">click</button>
 
 