
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NasdaqProject</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <div class="flex">
        <div class="content" role="main">
            <div id="card">
              <div class="form-group">
                <label for="search-text" id="sub-title" class="pt-2 pb-2">Nasdaq</label>
                <input type="text" class="form-control" id="search-text" aria-describedby="search-text"
                  [(ngModel)]="searchText" placeholder="Type your search here"
                  autofocus>
              </div>
              <ul class="list-group list-group-flush" id="companies">
                <!-- results of ngFor is passed to appFilter with argument searchText -->
                <li class="list-group-item" *ngFor="let c of characters | appFilter: searchText">
                  {{c}}
                </li>
              </ul>
      
            </div>
        </div>
    </div>
</body>
</html>

